.normal {
  background-color: #a4acaf;
}

.steel {
  background-color: #9eb7b8;
}

.dark {
  background-color: #707070;
}

.electric {
  background-color: #eed535;
}

.rock {
  background-color: #a38c21;
}

.ground {
  background: linear-gradient(180deg, #ffca6e, #4b2e0a);
}

.water {
  background-color: #4592c4;
}

.ice {
  background-color: #51c4e7;
}

.fire {
  background-color: #fd7d24;
}

.fighting {
  background-color: #d56723;
}

.grass {
  background-color: #9bcc50;
}

.bug {
  background-color: #729f3f;
}

.poison {
  background-color: #b97fc9;
}

.ghost {
  background-color: #7b62a3;
}

.fairy {
  background-color: #fdb9e9;
}

.psychic {
  background-color: #f366b9;
}

.dragon {
  background: linear-gradient(180deg, #44beff, #f16e57);
}

.flying {
  background: linear-gradient(180deg, #3dc7ef, #bdb9b8);
}

.hidden {
  display: none;
}

#logo {
  width: 75px;
  height: 75px;
}

#container-loading-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #728c93;
  top: 0;
}

#container-loading-screen {
  font-size: 40px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
}

main {
  background-color: #728c93;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #b7d0f0;
}

header nav {
  margin: 10px;
  padding: 0px 30px;
}

#search-bar-by-name {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: floralwhite;
  border-style: none;
  width: 125px;
  height: 50px;
  padding: 10px 10px;
}

#button-bar-by-name {
  margin: 0;
  padding: 10px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 50px;
  background-color: floralwhite;
  border-style: none;
}

#container-cards-pokemons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.container-image img {
  width: 100px;
  height: 100px;
  z-index: 2;
  position: relative;
}
.container-image {
  position: relative;
  margin-bottom: 20px;
}

.container-image::after {
  filter: blur(10px);
  width: 100px;
  height: 100px;
  background-color: #c5bebe;
  border-radius: 100%;
  padding: 15px;
  content: "";
  position: absolute;
  left: -15%;
  top: -9%;
  z-index: 0;
}

.card-pokemon {
  width: 350px;
  height: max-content;
  padding: 20px 0px;
  background-color: floralwhite;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-names-ids {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 10px 0 30px 0;
}

.container-names-ids p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.container-names-ids span {
  font-weight: bold;
  font-size: 14px;
}

.container-types {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.container-types p {
  width: max-content;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

#container-buttons {
  margin: 30px;
}

#container-buttons button {
  width: 80px;
  height: 40px;
  font-weight: bold;
  background-color: floralwhite;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}

@media (min-width: 768px) {
  #container-cards-pokemons {
    margin-top: 40px;
  }

  #search-bar-by-name {
    width: 350px;
  }
  #logo {
    width: 100px;
    height: 100px;
  }

  .container-image {
    margin-top: 20px;
  }

  .container-image img {
    width: 150px;
    height: 150px;
  }

  .container-image::after {
    width: 150px;
    height: 150px;
  }

  .container-names-ids p {
    font-size: 20px;
    font-weight: bold;
  }

  .container-names-ids span {
    font-weight: bold;
    font-size: 18px;
  }
  .card-pokemon {
    width: 440px;
  }

  .container-types {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  #container-cards-pokemons {
    margin-top: 60px;
  }

  #search-bar-by-name {
    width: 440px;
  }
  #logo {
    width: 150px;
    height: 150px;
  }
}
